<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑页面</title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css"/>
</head>
<body>
<form class="layui-form" hidden="true" action="" lay-filter="save-form">
    <div class="mainBox">
        <div class="main-container layui-fluid">
            
            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">父ID</label>
                        <div class="layui-input-block">
                        <input type="text"  name="parent_id" id="parent_id" lay-verify="required" autocomplete="off" placeholder="请输入父ID" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">组级集合</label>
                        <div class="layui-input-block">
                        <input type="text"  name="level" id="level" lay-verify="required" autocomplete="off" placeholder="请输入组级集合" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">部门名称</label>
                        <div class="layui-input-block">
                        <input type="text"  name="name" id="name" lay-verify="required" autocomplete="off" placeholder="请输入部门名称" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">负责人</label>
                        <div class="layui-input-block">
                        <input type="text"  name="leader" id="leader" lay-verify="required" autocomplete="off" placeholder="请输入负责人" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-block">
                        <input type="text"  name="phone" id="phone" lay-verify="required" autocomplete="off" placeholder="请输入联系电话" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">状态 (0正常 1停用)</label>
                    <div class="layui-input-block">
                        <div id="xm-select-status"></div>
                    </div>
                </div>
            </div>



            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                        <input type="text"  name="sort" id="sort" lay-verify="required" autocomplete="off" placeholder="请输入排序" class="layui-input">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="system-dept-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
        </div>
    </div>
</form>
<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
<script>
    layui.use(['form', 'jquery','nyuwa','xmSelect','loading','toast','tableSelect'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let nyuwa = layui.nyuwa;
        let xmSelect = layui.xmSelect;
        let loading = layui.loading;
        let toast = layui.toast;
        let tableSelect = layui.tableSelect;

        let id = nyuwa.GetQueryValue(["id"]);

        loading.Load(5, "");
        let api = {
            //select的数据接口
            read: "/api/core/systemDept/read",
            update: "/api/core/systemDept/update"
        }

        window.initData = function () {
                        let statusXmSelect = xmSelect.render({
                el: '#xm-select-status',
                name: 'status',
                radio: true,
                toolbar: {show: true},
                layVerify: 'required',
                layVerType: 'tips',
                data: [{"name":"正常","value":"0","code":"status"},{"name":"停用","value":"1","code":"status"}]
            })


            let funReadInfo = $.ajax(nyuwa.preRequestParams(api.read,{id:id}));
            $.when(funReadInfo).then(function(readInfoData) {
                let info = readInfoData.data;
                form.val("save-form",{'id':info.id,'parent_id':info.parent_id,'level':info.level,'name':info.name,'leader':info.leader,'phone':info.phone,'sort':info.sort,});
                statusXmSelect.setValue([info.status])
                $(".layui-form").show()
                loading.loadRemove();
            })
        }
        initData()
        form.on('submit(system-dept-save)', function (data) {
            Object.assign(data.field,{id:id})
            nyuwa.request(api.update,data.field,function (result) {
                if (result.success) {
                    toast.success({message:result.message})
                    parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭当前页
                    parent.layui.table.reload("system-dept-table");
                } else {
                    toast.error({message:result.message})
                }
            })
            return false;
        });
    })
</script>
</body>
</html>
