<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑页面</title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css"/>
</head>
<body>
<form class="layui-form" hidden="true" action="" lay-filter="save-form">
    <div class="mainBox">
        <div class="main-container layui-fluid">
            
            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">消息ID</label>
                        <div class="layui-input-block">
                        <input type="text"  name="message_id" id="message_id" lay-verify="required" autocomplete="off" placeholder="请输入消息ID" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">标题</label>
                        <div class="layui-input-block">
                        <input type="text"  name="title" id="title" lay-verify="required" autocomplete="off" placeholder="请输入标题" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">公告类型</label>
                    <div class="layui-input-block">
                        <div id="xm-select-type"></div>
                    </div>
                </div>
            </div>



            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">公告内容</label>
                        <div class="layui-input-block">
                        <input type="text"  name="content" id="content" lay-verify="required" autocomplete="off" placeholder="请输入公告内容" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">浏览次数</label>
                        <div class="layui-input-block">
                        <input type="text"  name="click_num" id="click_num" lay-verify="required" autocomplete="off" placeholder="请输入浏览次数" class="layui-input">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="system-notice-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
        </div>
    </div>
</form>
<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
<script>
    layui.use(['form', 'jquery','nyuwa','xmSelect','loading','toast','tableSelect'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let nyuwa = layui.nyuwa;
        let xmSelect = layui.xmSelect;
        let loading = layui.loading;
        let toast = layui.toast;
        let tableSelect = layui.tableSelect;

        let id = nyuwa.GetQueryValue(["id"]);

        loading.Load(5, "");
        let api = {
            //select的数据接口
            read: "/api/core/systemNotice/read",
            update: "/api/core/systemNotice/update"
        }

        window.initData = function () {
                        let typeXmSelect = xmSelect.render({
                el: '#xm-select-type',
                name: 'type',
                radio: true,
                toolbar: {show: true},
                layVerify: 'required',
                layVerType: 'tips',
                data: [{"name":"通知","value":"notice","code":"queue_msg_type"},{"name":"通知","value":"1","code":"type"},{"name":"公告","value":"announcement","code":"queue_msg_type"},{"name":"公告","value":"2","code":"type"}]
            })


            let funReadInfo = $.ajax(nyuwa.preRequestParams(api.read,{id:id}));
            $.when(funReadInfo).then(function(readInfoData) {
                let info = readInfoData.data;
                form.val("save-form",{'id':info.id,'message_id':info.message_id,'title':info.title,'content':info.content,'click_num':info.click_num,});
                typeXmSelect.setValue([info.type])
                $(".layui-form").show()
                loading.loadRemove();
            })
        }
        initData()
        form.on('submit(system-notice-save)', function (data) {
            Object.assign(data.field,{id:id})
            nyuwa.request(api.update,data.field,function (result) {
                if (result.success) {
                    toast.success({message:result.message})
                    parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭当前页
                    parent.layui.table.reload("system-notice-table");
                } else {
                    toast.error({message:result.message})
                }
            })
            return false;
        });
    })
</script>
</body>
</html>
