<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css"/>
</head>
<body>
<form class="layui-form" hidden="true" action="" lay-filter="save-form">
    <div class="mainBox">
        <div class="main-container layui-fluid">
            
            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">所属表ID</label>
                        <div class="layui-input-block">
                        <input type="text"  name="table_id" id="table_id" lay-verify="required" autocomplete="off" placeholder="请输入所属表ID" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">字段名称</label>
                        <div class="layui-input-block">
                        <input type="text"  name="column_name" id="column_name" lay-verify="required" autocomplete="off" placeholder="请输入字段名称" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">字段注释</label>
                        <div class="layui-input-block">
                        <input type="text"  name="column_comment" id="column_comment" lay-verify="required" autocomplete="off" placeholder="请输入字段注释" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">字段类型</label>
                        <div class="layui-input-block">
                        <input type="text"  name="data_type" id="data_type" lay-verify="required" autocomplete="off" placeholder="请输入字段类型" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">字段长度</label>
                        <div class="layui-input-block">
                        <input type="text"  name="date_max_len" id="date_max_len" lay-verify="required" autocomplete="off" placeholder="请输入字段长度" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">是否主键</label>
                        <div class="layui-input-block">
                        <input type="text"  name="is_pk" id="is_pk" lay-verify="required" autocomplete="off" placeholder="请输入是否主键" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">是否必填</label>
                        <div class="layui-input-block">
                        <input type="text"  name="is_required" id="is_required" lay-verify="required" autocomplete="off" placeholder="请输入是否必填" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">是否表单插入</label>
                        <div class="layui-input-block">
                        <input type="text"  name="is_insert" id="is_insert" lay-verify="required" autocomplete="off" placeholder="请输入是否表单插入" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">是否编辑</label>
                        <div class="layui-input-block">
                        <input type="text"  name="is_edit" id="is_edit" lay-verify="required" autocomplete="off" placeholder="请输入是否编辑" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">是否列表显示</label>
                        <div class="layui-input-block">
                        <input type="text"  name="is_list" id="is_list" lay-verify="required" autocomplete="off" placeholder="请输入是否列表显示" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">是否查询字段</label>
                        <div class="layui-input-block">
                        <input type="text"  name="is_query" id="is_query" lay-verify="required" autocomplete="off" placeholder="请输入是否查询字段" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">查询方式</label>
                        <div class="layui-input-block">
                        <input type="text"  name="query_type" id="query_type" lay-verify="required" autocomplete="off" placeholder="请输入查询方式" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">页面控件</label>
                    <div class="layui-input-block">
                        <div id="xm-select-view_type"></div>
                    </div>
                </div>
            </div>



            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">字典类型</label>
                        <div class="layui-input-block">
                        <input type="text"  name="dict_type" id="dict_type" lay-verify="required" autocomplete="off" placeholder="请输入字典类型" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">排序</label>
                        <div class="layui-input-block">
                        <input type="text"  name="sort" id="sort" lay-verify="required" autocomplete="off" placeholder="请输入排序" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                        <input type="text"  name="remark" id="remark" lay-verify="required" autocomplete="off" placeholder="请输入备注" class="layui-input">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="generate-columns-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
<script>
    layui.use(['form', 'jquery','nyuwa','xmSelect','loading','toast','tableSelect'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;
        let nyuwa = layui.nyuwa;
        let xmSelect = layui.xmSelect;
        let loading = layui.loading;
        let toast = layui.toast;
        let tableSelect = layui.tableSelect;

        loading.Load(5, "");
        let api = {
            //select的数据接口
            save: "/api/generate/generateColumns/save",
        };

        window.initData = function () {
                        let viewTypeXmSelect = xmSelect.render({
                el: '#xm-select-view_type',
                name: 'view_type',
                radio: true,
                toolbar: {show: true},
                layVerify: 'required',
                layVerType: 'tips',
                data: [{"name":"文本","value":"text","code":"view_type"},{"name":"文本域","value":"textarea","code":"view_type"},{"name":"单选xm选择器","value":"radio_xmselect","code":"view_type"},{"name":"多选xm选择器","value":"checkbox_xmselect","code":"view_type"},{"name":"单选表格选择器","value":"radio_table_select","code":"view_type"},{"name":"多选表格选择器","value":"checkbox_table_select","code":"view_type"}]
            })


            $(".layui-form").show()
            loading.loadRemove();
        }
        initData()

        form.on('submit(generate-columns-save)', function (data) {
             nyuwa.request(api.save,data.field,function (result) {
                console.log(result)
                if (result.success) {
                    toast.success({message:result.message})
                    parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭当前页
                    parent.layui.table.reload("generate-columns-table");
                } else {
                    toast.error({message:result.message})
                }
            })
            return false;
        });
    })
</script>
</body>
</html>
