<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增页面</title>
    <link rel="stylesheet" href="/static/component/pear/css/pear.css"/>
</head>
<body>
<form class="layui-form" hidden="true" action="" lay-filter="save-form">
    <div class="mainBox">
        <div class="main-container layui-fluid">
            
            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">字典类型id</label>
                        <div class="layui-input-block">
                        <input type="text"  name="dict_type_id" id="dict_type_id" lay-verify="required" autocomplete="off" placeholder="请输入字典类型id" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">表名</label>
                        <div class="layui-input-block">
                        <input type="text"  name="table_name" id="table_name" lay-verify="required" autocomplete="off" placeholder="请输入表名" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">字段名</label>
                        <div class="layui-input-block">
                        <input type="text"  name="field_name" id="field_name" lay-verify="required" autocomplete="off" placeholder="请输入字段名" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">默认值</label>
                        <div class="layui-input-block">
                        <input type="text"  name="default_val" id="default_val" lay-verify="required" autocomplete="off" placeholder="请输入默认值" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">状态</label>
                    <div class="layui-input-block">
                        <div id="xm-select-status"></div>
                    </div>
                </div>
            </div>



            <div class="layui-col-xs12 layui-col-sm6">
                <div class="layui-form-item ">
                    <label class="layui-form-label">表单类型</label>
                    <div class="layui-input-block">
                        <div id="xm-select-view_type"></div>
                    </div>
                </div>
            </div>



        </div>
    </div>
    <div class="bottom">
        <div class="button-container">
            <button type="submit" class="pear-btn pear-btn-primary pear-btn-sm" lay-submit=""
                    lay-filter="system-dict-field-save">
                <i class="layui-icon layui-icon-ok"></i>
                提交
            </button>
            <button type="reset" class="pear-btn pear-btn-sm">
                <i class="layui-icon layui-icon-refresh"></i>
                重置
            </button>
        </div>
    </div>
</form>
<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/pear/pear.js"></script>
<script>
    layui.use(['form', 'jquery','nyuwa','xmSelect','loading','toast','tableSelect'], function () {
        let form = layui.form;
        let $ = layui.jquery;
        let common = layui.common;
        let nyuwa = layui.nyuwa;
        let xmSelect = layui.xmSelect;
        let loading = layui.loading;
        let toast = layui.toast;
        let tableSelect = layui.tableSelect;

        loading.Load(5, "");
        let api = {
            //select的数据接口
            save: "/api/core/systemDictField/save",
        };

        window.initData = function () {
                        let statusXmSelect = xmSelect.render({
                el: '#xm-select-status',
                name: 'status',
                radio: true,
                toolbar: {show: true},
                layVerify: 'required',
                layVerType: 'tips',
                data: [{"name":"正常","value":"0","code":"status"},{"name":"停用","value":"1","code":"status"}]
            })

            let viewTypeXmSelect = xmSelect.render({
                el: '#xm-select-view_type',
                name: 'view_type',
                radio: true,
                toolbar: {show: true},
                layVerify: 'required',
                layVerType: 'tips',
                data: [{"name":"文本","value":"text","code":"view_type"},{"name":"文本域","value":"textarea","code":"view_type"},{"name":"单选xm选择器","value":"radio_xmselect","code":"view_type"},{"name":"多选xm选择器","value":"checkbox_xmselect","code":"view_type"},{"name":"单选表格选择器","value":"radio_table_select","code":"view_type"},{"name":"多选表格选择器","value":"checkbox_table_select","code":"view_type"}]
            })


            $(".layui-form").show()
            loading.loadRemove();
        }
        initData()

        form.on('submit(system-dict-field-save)', function (data) {
             nyuwa.request(api.save,data.field,function (result) {
                console.log(result)
                if (result.success) {
                    toast.success({message:result.message})
                    parent.layer.close(parent.layer.getFrameIndex(window.name)); //关闭当前页
                    parent.layui.table.reload("system-dict-field-table");
                } else {
                    toast.error({message:result.message})
                }
            })
            return false;
        });
    })
</script>
</body>
</html>
